<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="sourceFolder" value="C:\Paycom_Files"/>
		<add key="destinationFolder" value="C:\Paycom_Files\Destination"/>
		<add key="archiveFolder" value="C:\Paycom_Files\Archive"/>
		<add key="inputFile1" value="Full Extract AFN.csv"/>
		<add key="inputFile2" value="Full Extract Orion.csv"/>
		<add key="outputFile" value="Paycom_Combined.csv"/>
		<add key="recipients" value="mgruber@afncorp.com,mike.nelson@afncorp.com,ggoshert@afncorp.com"/>
	</appSettings>
</configuration>